div {
    display: inline-flex;
    max-width: 1000px;
}

div:hover .image{
    opacity: 0.5;
}

.overlay {
  position: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  width: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  justify-content: center;
  align-items: center;
}

div:hover .overlay {
  opacity: 0.5;
}

div:hover .text {
  opacity: 1;
}

.text {
  color: darkcyan;
  font-size: 20px;
  position: flex;
  top: 25%;
  left: 25%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
  align-items: center;
  max-height: 50px;
  opacity: 0;
}

.image {
  margin: 0;
  padding: 0;
}

button {
  color: white;
  border: none;
}

button:hover {
  color: black;
  border: solid black:
}

.not-text {
  opacity: 0;
  max-width: 2px;
  max-height: 2px;
}